@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* --- General Style, Navbar, Footer --- */
* {
  margin: 0;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color: #868686;
  text-decoration: none;
}

.navbar{
  position:sticky;
  top: 0px;
  width: 100%;
  padding: 0px 20px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
}

.hamburger-button{
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  padding: 5px 5px;
  border: #000000 solid 0px;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 80px;
}

.hamburger-button .bar{
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 2px;
}

.navbar a{
  margin: 0px 10px;
  font-size: 20px;
  transition: all 0.5s;
}

.navbar ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li{
  list-style: none;
}

.navbar a.active{
  font-weight: bold;
  color:#d50000;
}

.navbar a img.active{
  border-bottom: #d50000 solid 2px;
}

.logo{
  width: 50px;
  margin-bottom: 10px;
}

.logo:hover{
  border-bottom: #d50000 solid 2px;
}

.page:hover{
  font-weight: bold;
}

footer{
  width: 100%;
  text-align: center;
}

/* --- Home Page --- */
.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px;
  padding: 0px auto;
  justify-content: center;
}

.flexbox-item{
  margin: 5px;
}

.photo{
  width: 250px;
}

.flexbox-1{
   flex-grow: 2;
   max-width: 300px;
   display: flex;
   justify-content: space-around;
}

.flexbox-2{
   flex-grow: 3;
   min-width: 250px;
   max-width: 500px;
   min-height: 250px;
   padding: 10px 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.name{
  flex-grow: 1;
  color: #d50000;
  font-size: 60px;
  font-weight: 400;
}

.address{
  flex-grow: 1;
  font-size: 32px;
}

.title{
  flex-grow: 1;
  font-size: 20px;
  text-align: center;
}

.contact-me{
  flex-grow: 1;
  padding: 5px 0px;
}

.btnContactMe{
  background-color: #727272;
  color: #ffffff;
  font-weight: 400;
  border: none;
  padding: 8px 20px;
}

.quote{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.quote-content{
  flex-grow: 1;
  padding: 5px;
  text-align: center;
}

.quote-author{
  flex-grow: 1;
  padding: 5px;
}

/* --- About Page --- */
.page-container{
  margin: 20px 25px;
  padding: 0px 30px;
}

.section{
  margin-bottom: 20px; 
}

.section h2{
  color: #000000;
  font-weight: bold;
}

.content-container{
  padding: 10px 50px;
}

.content{
  display: flex;
  padding: 20px 0px;
}

.content-left{
  flex-grow: 5;
  padding: 0px 8px;
  border-left: #d50000 solid 3px;
}

.content-right{
  flex-grow: 1;
  text-align: right;
}

.bold{
  font-weight: bold;
}

/* --- Work Experience --- */
.work-content-left{
  width: 75px;
}

.work-content-right{
  padding-left: 20px;
  text-align: left;
}

.work-logo{
  width: 75px;
}

/* --- Projects --- */
.projects-content{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  justify-items: center;
}

.projects-content-left{
  flex-grow: 1;
  max-width: 300px;
  padding: 20px 40px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: green; */
}

.projects-content-right{
  flex-grow: 4;
  max-width: 600px;
  padding-left: 40px;
  margin: 0px auto;
  text-align: left;
  border-left: #000000 solid 1px;
  /* background-color: yellow; */
}

.projects-logo{
  width: 75px;
}

/* --- Contact --- */
.contact-content{
  display: flex;
  flex-wrap: wrap;
}

.contact-content-left{
  flex-grow: 1;
  width: 250px;
}

.contact-content-right{
  flex-grow: 1;
  text-align: left;
}

.contact-photo{
  width: 150px;
}

.contact-logo{
  width: 30px;
  padding: 0px 5px;
}

.btnSubmit{
  background-color: #727272;
  color: #ffffff;
  font-weight: 400;
  border-radius: 8px;
  border-color: #727272;
  padding: 5px 20px;
}

.div-container{
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-note{
  text-align: center;
  margin: 30px 15px;
}

.div-com{
  display: flex;
  flex-direction: column;
}

.com-method{
  display: flex;
  align-items: center;
}

.message-form{
  padding: 10px 50px;
}

.div-form{
  margin: 5px 0px;
}

label{
  font-weight: 400;
  /* background-color: green; */
}

input{
  width: 100%;
  height: 30px;
  background-color: #eeeeee;
  border: none;
  padding: 0px 5px;
  margin-bottom: 10px;
}

.input-message{
  height: 100px;
}

.btnSubmit{
  width: 1fr;
  border: none;
  border-radius: 0;
  margin: 10px 0px;
}

/* --- Media Query Responsive --- */
@media screen and (max-width: 1050px) {
  .page-container{
    padding: 0px 5px;
  }

  .content-container{
    padding: 10px 25px;
  }
}  

@media screen and (max-width: 770px) {
  .flexbox-2{
    align-items: center;
  }

  .work-content-left{
    width: 50px;
  }
  
  .work-logo{
    width: 50px;
  }

  .projects-content-left{
    padding: 20px 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .projects-content-right{
    padding-left: 0px;
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .hamburger-button{
    display: flex;
  }

  .links{
    display: none;
    padding-left: 65px;
  }

  .links.show{
    display: flex;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar div ul{
    flex-direction: column;
  }

}

@media screen and (max-width: 450px) {
  .content-container{
    padding: 10px 0px;
  }
  
  .work-content-right{
    padding-left: 5px;
  }

  .message-form{
    padding: 10px 20px;
  }
}